/*-----------------------------------------------------------------------------------
Project Name: Tech4Good URI: http: //
Description: Author: Author URI: Version: 1.0.0
/* -----------------------------------------------------------------------------------*/


/* ----------------------------------------------------------------

 == Table Of Content

 Imports
 

---------------------------------------------------------------- */


/* 00. Imports */

@import "variables",
"mixins",
"reset",
"normalize";

/* other important styles starts */

html,
body {
    height: 100%;
    &::-webkit-scrollbar {
        width: 8px;
        height: 12px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $primary;
        border-radius: 5px;
    }
    &::-webkit-scrollbar-track {
        background-color: #ccc;
    }
    &::-moz-scrollbar {
        width: 8px;
        height: 12px;
    }
    &::-moz-scrollbar-thumb {
        background-color: $primary;
    }
    &::-moz-scrollbar-track {
        background-color: #ccc;
    }
    margin: 0;
    padding: 0;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 100%, rgba(6, 6, 6, 1) 100%);
    .loader {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        z-index: 100;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            width: 100%;
            // padding: 80px;
        }
    }
    nav {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 10;
        .brand-name {
            padding: 20px 0;
            display: flex;
            justify-content: center;
            position: relative;
            a {
                font: 30px $oswald;
                color: $white;
                letter-spacing: 2px;
                opacity: 0;
                text-decoration: none;
                // @include transition(0.3s ease);
                // &:hover {
                //     color: #fca83a;
                // }
                &:after {
                    content: "";
                    display: block;
                    position: absolute;
                    width: 0;
                    left: 0;
                    bottom: -2px;
                    height: 2px;
                    background: #fca83a;
                    @include transition(width 0.3s ease);
                }
                @media (hover: hover) {
                    &:hover::after {
                        width: 100%;
                    }
                }
            }
            #line {
                width: 0;
                height: 0;
                border: 1px solid #474545;
                position: absolute;
                right: 0;
                top: 0;
            }
        }
        .donate {
            @extend .brand-name;
            #line-1 {
                width: 0;
                height: 0;
                border: 1px solid #474545;
                position: absolute;
                left: 0;
                top: 0;
            }
        }
        .trans-grow {
            margin-top: 0;
            border: 1px solid #474545;
            -webkit-transition: all 2s ease-in-out;
            /* For Safari 3.1 to 6.0 */
            transition: all 2s ease-in-out;
            width: 0;
            margin-left: 0;
        }
    }
    .first-section {
        padding-top: 60px;
        .heading-wrapper {
            padding-top: 150px;
            h1 {
                font: 80px $fontFamily;
                color: $white;
                letter-spacing: 2px;
                opacity: 0;
                text-align: center;
                margin-top: 0;
            }
        }
        .animate-svg {
            height: 500px;
            display: flex;
            align-items: center;
            position: relative;
            .head {
                width: 22%;
                margin: -100px 0 0 80px;
                opacity: 0;
            }
            .body {
                width: 60%;
                position: absolute;
                top: 50%;
                margin-top: 0;
                opacity: 0;
            }
            .leg-img {
                width: 48%;
                position: absolute;
                bottom: 40px;
                margin-left: 36px;
                opacity: 0;
                z-index: 2;
            }
            .amplify {
                width: 50%;
                height: 40%;
                position: absolute;
                right: 50px;
                top: 50%;
                margin-top: -170px;
                opacity: 0;
                @include transition(0.5s ease);
            }
        }
        .svg-grid-wrapper {
            position: absolute;
            width: 100%;
            bottom: 10px;
            z-index: 1;
            // img {
            //     display: none;
            //     width: 100%;
            // }
        }
    }
}

.grow {
    width: 100% !important;
}